//* ====================================
//		MAPS
//* ====================================
$sizes: ('xs','sm','md','lg','xl');
$font-sizes: (0.5rem,0.8rem,1rem,1.5rem,2.2rem);
$text-positions: ('left', 'center', 'right');
$border-sides: ('t': 'top', 'r': 'right', 'b': 'bottom', 'l': 'left');
$border-corners: ('top-left', 'top-right', 'bottom-right', 'bottom-left');
$other: ('around', 'x', 'y');
$justify: ('start', 'center', 'end', 'space-between', 'space-around', 'space-evenly');
$align: ('stretch','center', 'start', 'end');

//* ====================================
//		GENERAL DEFAULTS
//* ====================================
$paletteScale: 0;
@if $paletteRange == 'default' or $paletteRange == 'tintshade' {
	$paletteScale: 65;
} @else {
	$paletteScale: 25;
}

$lightColor: #efefef;
$darkColor: #373737;

@if map-has-key($palette, 'neutral-100') == true {
	$lightColor: getColor('neutral-100');
}

@if map-has-key($palette, 'neutral-700') == true {
	$darkColor: getColor('neutral-700');
} @else if map-has-key($palette, 'neutral-500') == true {
	$darkColor: getColor('neutral-500');
} @else if map-has-key($palette, 'neutral-300') == true {
	$darkColor: getColor('neutral-300');
}

$defaults: (
	'padding': 0.75rem,
	'margin': 0.75rem,
	'gutter': 0.5rem,
	'border-width': 1px,
	'color-light': scale-color($lightColor, $lightness:  $paletteScale),
	'color-dark': scale-color($darkColor, $lightness: -($paletteScale))
) !default;

$default-pad: map-get($defaults, 'padding');
$default-margin: map-get($defaults, 'margin');
$padding-sizes: (
	'xs': $default-pad * 0.5,
	'sm': $default-pad * 0.8,
	'md': $default-pad,
	'lg': $default-pad * 1.5,
	'xl': $default-pad * 2
) !default;

$margin-sizes: (
	'xs': $default-margin * 0.5,
	'sm': $default-margin * 0.8,
	'md': $default-margin,
	'lg': $default-margin * 1.5,
	'xl': $default-margin * 2
) !default;

$hr-sizes: (
	'xs': 1px,
	'sm': 2px,
	'md': 3px,
	'lg': 5px,
	'xl': 7px
) !default;

$defaultRadius: 0.4rem;

//* ====================================
//		GRID & MEDIA-QUERY BREAKPOINTS
//* ====================================
$mq-breakpoints: (
	'mobile': 414px,
	'mobileLandscape': 736px,
	'tablet': 1024px,
	'desktop': 1280px,
	'wide': 1920px
) !default;

$max-columns: 12 !default;
//$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide) !default;