<div class="row is-centered">
	<div class="col col-3">
		{{> burgers}}
	</div>
	<div class="col col-3 text-center">
		<img src="./images/burger.png" alt="Burger" class="img-center">
		<h1 class="text-center">Eat-Da-Burger!</h1>
		<form action="" class="create-form">
			<input type="text" name="newBurger" id="newBurger" class="input input-text input-lg mb-3">
			<input type="hidden" name="devoured" id="devoured">
			<br><button class="btn btn-success btn-md text-lg btn-border btn-rounded">Submit</button>
		</form>
	</div>
	<div class="col col-3">
		{{> eaten}}
	</div>
</div>